.btn-wrapper {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .btn, .theme-btn{
    border: none;
    border-radius: 20px;
    min-width: 120px;
    padding: 7px;

    font-size: 14px;

    cursor: pointer;
  }
  .btn:active,
  .btn:focus {
    outline: none;
  }