.amazing-work {
  padding-top: 95px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #e9edef;
}

.amazing-work-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #4e4e4e;
  margin-bottom: 20px;
}

.amazing-work-tabs {
  margin-top: 70px;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
}

.amazing-work-item {
  padding: 15px;
  background: #e9edef;
  border: 1px solid #dadada;
  font-weight: 400;
  color: #717171;
  cursor: pointer;
}

.amazing-work-item:hover {
  border: 1px solid #18cfab;
}

.amazing-work-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 70px;
}

.aw-content-item {
  position: relative;
  background-size: cover;
  overflow: hidden;
}

.aw-content-item-data {
  border-top: 6px solid #18cfab;
  box-sizing: border-box;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e9edef;
  top: 206px;
  left: 0;
  right: 0;
  position: absolute;
  height: 206px;
  transition: 0.3s;

}

.aw-content-item-data span {
  display: flex;
}

.btn-chain {
  margin-right: 3px;
  border-radius: 50%;
  border: 1px solid #18cfab;
  cursor: pointer;
  width: 43px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-square {
  border-radius: 50%;
  cursor: pointer;
  background-color: #18cfab;
  cursor: pointer;
  width: 43px;
  height: 43px;
  display: flex;
  align-items: center;
  border: 1px solid #18cfab;
  justify-content: center;
}

.btn-square span {
  display: block;
  width: 15px;
  height: 15px;
  background-color: #ffff;
}

.awc-item-data-title {
  margin-top: 30px;
  text-transform: uppercase;
  color: #18cfab;
}

.awc-item-data-title2 {
  margin-top: 10px;
  font-weight: 300;
  color: #8a8a8a;
}

.aw-content-item:hover .aw-content-item-data {
  visibility: visible;
  transition: 0.7s;
  transform: translatey(-206px);
}
