.breaking-news {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffff;
    margin-bottom: 200px;
  }
  
  .breaking-news-title {
    margin-top: 80px;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4e4e4e;
  }
  
  .breaking-news-content {
    display: grid;
    gap: 35px;
    row-gap: 115px;
    margin-top: 70px;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .bn-link {
    position: relative;
  }
  
  .bn-date {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #203e38;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #ffff;
  }
  
  .bn-link-content {
    position: absolute;
    top: 208px;
    padding-top: 14px;
    left: 13px;
    width: 196px;
    height: 46px;
  }
  
  .bn-link-title {
    font-size: 17.9885px;
    line-height: 39px;
    color: #777777;
  }
  
  .bn-link-coment {
    font-weight: 300;
    font-size: 13.991px;
    line-height: 39px;
    color: #777777;
  }
  
  .bn-link:hover .bn-date {
    background: #18cfab;
  }
  
  .bn-link:hover .bn-link-title {
    color: #18cfab;
  }
  
  .bn-link-coment span {
    padding-left: 15px;
    padding-right: 15px;
  }