.everything {
    margin-top: 90px;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/everything.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .everything-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #18cfab;
    margin-bottom: 12px;
  }
  
  .everything-litle-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #d8d8d8;
    margin-bottom: 60px;
  }