.header-bg {
    background-image: url(../img/header/Layer\ 1\ 5.png);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background: rgba(94, 93, 88, 0.6);
  }
  
  .nav-menu-list {
    display: flex;
    justify-content: space-between;
  }
  
  .nav-logo {
    margin-right: 270px;
  }
  
  .nav-list-item {
    display: flex;
    align-items: center;
    margin-right: 21px;
    height: 120px;
    box-sizing: border-box;
  }
  
  .nav-list-item:hover {
    border-bottom: 1px solid #18cfab;
  }
  
  .nav-list-item:hover .nav-list-link {
    color: #18cfab;
  }
  
  .nav-list-link {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
  }
  
  .main-title {
    margin-top: 251px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .first-title {
    font-size: 35px;
    color: white;
  }
  
  .first-title-span {
    color: rgba(24, 207, 171, 1);
  }
  
  .second-title {
    font-size: 78px;
    color: white;
  }
  
  .third-title {
    font-weight: 400;
    font-size: 34px;
    color: #d4d4d4;
  }
  