.options {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .options-dark {
    background-color: #1c2a33;
    color: #18cfab;
  }
  
  .options-light {
    background-color: #18cfab;
    color: #ffff;
  }
  
  .options-dark,
  .options-light {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
  }
  
  .options-dark img {
    margin-bottom: 47px;
  }
  
  .options-light img {
    margin-bottom: 58px;
  }