.say-about {
  background-image: url(../img/say-about/say-about-bg.png);
  height: 853px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.say-about-title {
  margin-top: 100px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #ffffff;
  margin-bottom: 25px;
}

.say-about-content {
  width: 1160px;
  display: flex;

  margin-top: 65px;
}

.say-about-text {
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #bbbbbb;
  padding-top: 35px;
  padding-bottom: 35px;
}

.say-about-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  color: #18cfab;
  margin-bottom: 35px;
}

.say-about-name span {
  font-weight: 300;
  color: #bbbbbb;
  padding-top: 10px;
}

.say-about-carousel {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.arrow:hover {
  background-color: #18cfab;
}

.carousel {
  display: flex;
}

.carousel-item img {
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.carousel-item {
  margin-left: 18px;
  margin-right: 18px;
  translate: 0 0;
}

.right {
  transform: scale(-1, 1);
  margin-left: 35px;
}

.left {
  margin-right: 35px;
}

.arrow {
  cursor: pointer;
}

.choosen {
  transform: translate3d(0px, -20px, 0px);
  transition: transform 0.4s ease-in-out;
}

.say-about-content-plot {
  flex-direction: column;
  align-items: center;
  flex-direction: column;
}

.hide {
  display: none;
}

.see {
  display: flex;
}