.services {
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffff;
  }
  
  .services-title {
    margin-top: 80px;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4e4e4e;
  }
  
  .services-nav {
    margin-top: 70px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
  }
  
  .services-item {
    padding: 15px;
    background: #f8fcfe;
    border: 1px solid #edefef;
    font-weight: 400;
    color: #717171;
    cursor: pointer;
    position: relative;
  }
  
  .services-item:hover {
    border: 1px solid #18cfab;
  }
  


  .active .triangle{
    display: block;
  }
  
  .services-content {
    font-weight: 300;
    color: #777777;
    font-size: 13.645px;
    line-height: 24px;
    width: 1160px;
  }
  
  .content-img {
    margin-right: 15px;
  }

  .triangle{
    display: none;
    top: 47px;
    left: 50%;
    right: 50%;
    transform:translate(-50%, -50%);

    position: absolute;
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 15px solid #18CFAB;
  }