@import url(./header.css);
@import url(./options.css);
@import url(./services.css);
@import url(./everething.css);
@import url(./amazing-work.css);
@import url(./breaking-news.css);
@import url(./say-about.css);

body {
  min-width: 1200px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.show {
  display: flex;
}

.container {
  width: 1160px;
}


.main-btn {
  margin-top: 127px;
  width: 366px;
  display: flex;
  justify-content: space-between;
}

.primary-btn {
  width: 169px;
  height: 63px;
  background: #18cfab;
  font-size: 15px;
  color: white;
  border: none;
  border-radius: 5px;
  border-top: 5px solid white;
  cursor: pointer;
}

.load-btn {
  display: flex;
  align-items: center;
  background: #18cfab;
  border: none;
  font-weight: 700;
  color: #ffffff;
  padding: 13px 23px;
  cursor: pointer;
  border-radius: 5px;
}

.load-btn img {
  margin-right: 15px;
}

.footer {
  background: #22353f;
  display: flex;
  align-items: center;
  height: 120px;
  justify-content: center;
}

.footer-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #aeaeae;
}

.footer-text span {
  color: #18cfab;
}

.active {
  background: #18cfab;
  border: 1px solid #18cfab;
  color: #ffffff;
}