.bg {
  width: 1366px;
  padding-top: 50px;
  background-image: url(../img/bg/background\ 1.svg);
}

a {
  text-decoration: none;
}

.container {
  margin: 0 160px;
  font-family: "Roboto";
  font-style: normal;
}

.logo {
  display: flex;
  align-items: center;
}

.logo_title {
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;
  color: #ffffff;
  padding-left: 8px;
}

.logo_title span {
  font-size: 18px;
  line-height: 18px;
}

.header_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.mail {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}

.tel {
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}

.main_content {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  column-gap: 60px;
  row-gap: 37px;
}

.tour_item {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.tour_item .item_text {
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  padding-top: 20px;
}

footer {
  padding-top: 50px;
  padding-bottom: 15px;
}

.footer_content p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
}

.logo_hov {
  display: none;
}

.logo:hover .logo_def {
  display: none;
}

.logo:hover .logo_hov {
  display: flex;
}

.logo:hover .logo_title {
  color: #f26522;
}

.mail:hover {
  color: #f26522;
}

.tel:hover {
  color: #f26522;
}

.tour_item:hover .item_text {
  color: #f26522;
}

.tour_item_1 {
  background: url(../img/tours_img/tour_1.svg);
}

.tour_item_2 {
  background: url(../img/tours_img/tour_2.svg);
}

.tour_item_3 {
  background: url(../img/tours_img/tour_3.svg);
}

.tour_item_4 {
  background: url(../img/tours_img/tour_4.svg);
}

.tour_item_5 {
  background: url(../img/tours_img/tour_5.svg);
}

.tour_item_6 {
  background: url(../img/tours_img/tour_6.svg);
}

.tour_item_defoult {
  background-size: cover;
  width: 300px;
  height: 220px;
  overflow: hidden;
  position: relative;
}

.hov_info {
  display: flex;
  justify-content: space-between;
  position: absolute;
  visibility: hidden;
  background-color: #f26522;
  width: 300px;
  height: 55px;
  left: 0;
  bottom: 0;
  top: 220px;
  transition: 0.7s;
}

.hov_info .price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 16px;
  margin-top: 7px;
  margin-bottom: 12px;
}

.tour_item_defoult:hover .hov_info {
  visibility: visible;
  transition: 0.7s;
  transform: translatey(-55px);
}

.price span {
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
}

.price p {
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  padding-top: 8px;
}

.details {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  margin-bottom: 12px;
  margin-right: 16px;
  margin-top: 29px;
}

.details::after {
  content: ">";
  color: #ffffff;
  padding-left: 16px;
  font-size: 14px;
}

.border {
  width: 300px;
  height: 220px;
  background: #eee;
  border: 3px solid transparent;
  border-image: linear-gradient(to bottom, white 0%, black 100%);
  border-image-slice: 1;
}
