.navbar{
    width: 100%;
    height: 15px;
    left: 0px;
    top: 31.5px;
    text-align: center;

}

.nav_li{
    list-style-type: none;
    display: inline-block; 
}

.menu_home{
    width: 68px;
    height: 27px;
    left: 0px;
    top: -6px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;


    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    text-decoration: none;

    color: #FF0000;
}

.menu_photoapp{
    width: 131px;
    height: 27px;
    left: 140px;
    top: -6px;
    margin-left: 72px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;

    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    text-decoration: none;

    color: #FF0000;
}

.menu_design{
    width: 87px;
    height: 27px;
    left: 343px;
    top: -6px;
    margin-left: 72px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;

    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    text-decoration: none;

    color: #FF0000;
}

.menu_download{
    width: 140px;
    height: 27px;
    left: 480px;
    top: -6px;
    margin-left: 50px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;

    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    text-decoration: none;

    color: #FF0000;
}

.phone{
    width: 100%;
    display: block;
}

.main{
    width: 100%;
    text-align: center;
}

h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    align-items: flex-end;
    letter-spacing: 3.3px;
    text-transform: uppercase;

    color: #373737;
}

.p1{
    margin-top: 38px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    letter-spacing: 2.4px;

    color: #373737;
}

.p2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    letter-spacing: 2.4px;

    color: #373737;

    margin-top: 26px;
    margin-bottom: 84px;
}

.button{
    width: 191px;
    height: 51px;
    left: 544.5px;
    top: 557px;

    background: #FF0000;
    border-radius: 4px;
}

.p_button{
    margin-left: auto;
    margin-right: auto;

    width: 105px;
    height: 16px;
    left: 587px;
    top: 575px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    /* or 100% */

    display: flex;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.info{
    width: 382px;
    height: 16px;
    left: 0.5px;
    top: -41px;
}

.info_li{
    list-style-type:none ;
    display: inline-block;
}

.info_text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    text-decoration: none;

    color: #373737;
}

.rights{
    margin-inline-start: 1000px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 2.4px;

    color: #373737;
}