a {
  text-decoration: none;
}

.bg {
  background: url(../img/bg/bg.png) no-repeat center / cover;
  width: 100%;
  height: 100vh;
  font-family: "Ubuntu";
}

.container {
  margin: 0 80px;
}

.header_bg {
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header_content {
  padding: 20px 0;
}

.header_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_list {
  display: flex;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
}

.list_item {
  padding-left: 25px;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}

.list_item a {
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}

.logo:hover {
  color: #3cb878;
}

.icon_link:hover svg path {
  fill: #3cb878;
}

.list_item p a:hover {
  color: #3cb878;
}

.main_modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 66px;
}

.main_body {
  position: relative;
  background: #ffffff;
  border-radius: 5px;
  width: 444px;
  height: 584px;
  padding: 30px 60px 40px;
  box-sizing: border-box;
}

.main_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.main_title {
  font-size: 20px;
  line-height: 20px;
  color: #434343;
}

.main_square {
  position: absolute;
  top: 30px;
  left: 0;
  width: 18px;
  height: 18px;
  background: #3cb878;
}

.log {
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
}

.log:hover {
  color: #01813f;
  text-decoration-line: underline;
}

.main_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px 22px 10px 17px;
}

.btn_log {
  width: 160px;
  height: 48px;
}

.btn_primary {
  background: #305db8;
}

.btn_primary:hover{
  background: #022263;
}

.btn_secondary {
  background: #df4a32;
}

.btn_secondary:hover{
  background: #AB1F09;
}

.btn_icon_primary {
  padding-right: 18px;
  margin-right: 18px;
  border-right: 1px solid rgba(10, 22, 47, 0.1);
}

.btn_icon_secondary {
  padding-right: 7px;
  margin-right: 30px;
  border-right: 1px solid rgba(43, 13, 9, 0.1);
}

.or_line {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  position: relative;
}

.or_line p {
  font-size: 14px;
  line-height: 14px;
  color: #848484;
}

.left_line {
  position: absolute;
  width: 152px;
  height: 1px;
  left: -3px;
  top: 8px;
  background: #f2f2f2;
}

.right_line {
  position: absolute;
  width: 152px;
  height: 1px;
  left: 171px;
  top: 8px;
  background: #f2f2f2;
}

.log_input {
  margin-top: 15px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  font-size: 14px;
  line-height: 14px;
  color: #bebebe;
}

.log_input:focus {
  color: #434343;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  outline: none;
}

.last_input {
  margin-bottom: 12px;
}

.check {
  margin-left: 8px;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
}

.check a {
  color: #3cb878;
}

.check a:hover {
  color: #01813f;
  text-decoration-line: underline;
}

label {
  display: flex;
  align-items: center;
}

label input {
  cursor: pointer;
}

/* label input{
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #f2f2f2;
}

label:checked{
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #f2f2f2;
} */

.log_btn {
  width: 100%;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 20px;
  box-sizing: border-box;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.log_btn:hover {
  background: #01813f;
}
