.container {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration-line: none;
}

.logo {

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  width: fit-content;  
  color: #000000;

  margin-top: 63px;
}

.logo span {
  color: #4bcaff;
}

.nav_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 70px;
  background: #35444f;
  margin-top: 40px;
  margin-bottom: 50px;
}

.menu_link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  padding: 20px 40px 20px;
  border-left: 1px solid #ffffff;
  color: #ffffff;
}

.menu_end {
  border-right: 1px solid #ffffff;
  transform: rotate(90deg);
}

.menu_list {
  display: flex;
  align-items: center;
  text-align: center;
}

.left_menu {
  display: flex;
  width: 345px;
  height: 387px;
  border: 1px solid #000000;
  box-sizing: border-box;
  margin-right: 50px;
}

.left_menu_list {
  display: flex;
  width: 345px;
  height: 400px;
  flex-direction: column;
}

.left_menu_item {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 40px;
}

.left_menu_link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  /* identical to box height, or 100% */

  color: #495863;
}

.main_container {
  display: flex;
}

.content {
  width: 885px;
}

.main_image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 885px;
  height: 530px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
  box-sizing: border-box;
  margin-bottom: 37px;
}

.first_text {
  margin-bottom: 35px;
}

.text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  /* or 133% */

  color: #2c2c2c;
}

.main_plot {
  margin-bottom: 55px;
}

.footer_menu {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  width: 1280px;
  height: 69px;
  left: 0px;
  top: 0px;

  background: rgba(99, 105, 110, 0.48);
}

.footer_menu_list {
  display: flex;
  align-items: center;
  text-align: center;
}

.footer_menu_link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  /* identical to box height, or 100% */
  padding: 20px 0px;
  margin-left: 40px;
  color: #0c1927;
}

.copyright {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  /* or 100% */

  padding-right: 40px;
  color: #010101;
}

.menu_link:hover {
  background: #222f3a;
}

.left_menu_link:hover {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  /* identical to box height, or 100% */
  color: #000000;
}

.left_menu_item:hover {
  background: #dbdbdb;
  padding-left: 80px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  /* identical to box height, or 100% */

  color: #000000;
}

.footer_menu_link:hover {
  padding-bottom: 10px;
  color: #3181a6;
  border-bottom: 1px solid #3181a6;
}

.main_logo{
  transition: 1s;
  display: block;

}

.main_logo:hover{
transform: scale(1.2);
}