.footer-bg {
  background-color: black;
}

.footer {
  width: 66%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-title {
    margin-top: 65px;
    margin-bottom: 22px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #fefefe;
  }
  &-plot {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #b9b9b9;
    text-align: center;
    margin-bottom: 35px;
  }
  &-contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #b9b9b9;
    margin-top: 35px;
    margin-bottom: 70px;
    text-align: center;
  }
}
