.nav {
  width: 66%;
  margin: 45px auto;
  &-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  &-link {
    display: flex;
    flex-wrap: nowrap;
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;
    color: $title-color;
    text-transform: uppercase;
    letter-spacing: 1.1px;
  }
  &-link:focus,
  &-link:hover {
    color: $title-color-hover;
  }
}

.burger {
  display: none;
}

@media screen and (max-width: 690px) {
  .nav {
    display: none;
  }
  .burger {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: end;
    &-btn {
      margin: 23px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 43px;
      height: 37px;
      position: relative;
      background-color: black;
      border: 1px solid black;
      cursor: pointer;
      overflow: hidden;
    }
    &-close{
      display: none;
    }
    &-list {
      visibility: hidden;
      position: absolute;
      top: 61px;
      width: 182px;
      height: 208px;
      background-color: $burger-bg;
    }
    &-item {
      height: 14.3%;
      display: flex;
      align-items: center;
    }
    &-item:hover {
      background-color: $burger-hover;
    }
    &-link {
      font-weight: 400;
      font-size: 11px;
      letter-spacing: 1.1px;
      text-transform: uppercase;
      color: $title-color;
      margin-left: 12px;
    }
    &-link:focus {
      color: $title-color-hover;
    }
  }
}
