.main {
  width: 80%;
  margin: 0 auto;
  &-img {
    width: 100%;
    img {
      width: 100%;
    }
  }
  &-title {
    margin-top: 66px;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: $title-color;
  }
  &-items {
    width: 50%;
    margin-right: 25px;
  }
  &-item {
    display: flex;
    margin-bottom: 32px;
  }
  &-plot {
    display: flex;
    margin-bottom: 38px;
    margin-right: -25px;
  }
}

@media screen and (max-width: 1024px) {
  .main-items {
    width: 100%;
  }
  .main-plot {
    flex-direction: column;
  }
}

@media screen and (max-width: 690px) {
  .item-plot {
    display: none;
  }
  .main-item {
    flex-direction: column;
  }
}

.item {
  &-img {
    margin-right: 20px;
  }
  &-content {
    display: flex;
    flex-direction: column;
  }
  &-content h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: $title-color;
  }
  &-comments {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: $comment-color;
  }
  &-plot {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #5c5c5c;
  }
}
