.photo-bg {
  background: rgba(0, 0, 0, 0.03);
}
@media screen and (max-width: 690px) {
  .photo-bg {
    background: white;
  }
}

.photo {
  margin: 0 auto;
  margin-bottom: 50px;
  width: 80%;
  padding-top: 47px;
  &-title {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-title .big-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: $title-color;
    text-transform: uppercase;
  }

  &-content {
    display: flex;
    margin: 0 -5px;
    .photo-wrap {
      margin: 0 5px;
      flex: 1 1 auto;
    }
  }
  &-item {
    width: 100%;
  }
}

.small-title {
  display: none;
}

@media screen and (max-width: 690px) {
  .big-title {
    display: none;
  }
  .small-title {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: $title-color;
    text-transform: uppercase;
  }
}
