.post-wrapper {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: 1px solid white;
}

.name-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.name-wrapper h3 {
  margin-right: 50px;
}

.name-wrapper p {
  color: grey;
}

.delete-btn{
    cursor: pointer;
}
